:root {
  --color-primary: #046276;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.card {
  position: relative;
  width: 660px;
  height: 440px;
  background: #fff;
  border-radius: 32px;
  overflow: hidden;
}

/* Background */
.card-bg {
  position: absolute;
  width: 860px;
  height: 440px;
  rotate: -45deg;
  top: 0;
  left: -100px;
  background: var(--color-primary);
  opacity: 0.08;
}

.card-bg-2 {
  rotate: 45deg;
}
.form-logo{
  border: 1px solid white;
  width: auto;
  height: auto;
}
/* Forms */
.form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  opacity: 0;
  pointer-events: none;

  transform: translateX(40px);
  transition: 
    opacity 0.4s ease,
    transform 0.4s ease;
}

.form.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

/* Student login comes from left */
.signin {
  transform: translateX(-40px);
    flex: 1;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mentor login comes from right */
.signup {
  transform: translateX(40px);
  height: -50px;
    flex: 1;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  display: grid;
  gap: 12px;
  margin-top: -60px;
}

h2 {
  text-align: center;
  color: var(--color-primary);
  margin-top: -50px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.left-section {
  flex: 2;
  background: #a997f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 800px;
}
.main-logo {  
  width: 370px;
  height: 320px;
}


button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

p, em {
  text-align: center;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

em {
  display: inline-block;
  margin-top: 6px;
  font-style: normal;
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

em:hover {
  color: #022f38;
  text-decoration: underline;
  transform: scale(1.05);
}
.form-logo {
  width: 90px;
  margin: 0 auto 10px;
  display: block;
}
.form-logo {
  width: 90px;
  padding: 8px;
  background: #f5f9fb;
  border-radius: 12px;
}


a {
  text-decoration: none;
  color: var(--color-primary);
}